header {
    height: 15%;
    padding: 10px 40px;
    background-color: #D9371E;
    h1 {
        color: #1F2326;
        font-size: 3em;
        text-align: left;
        font-family: 'Luckiest Guy', cursive;
    }
}